{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% include "header.html" %}
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/404.jpg')}})">
   <div class="overlay"></div>
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
               <h1>{{ error }}</h1>
               <span class="subheading">{{ message }}</span>
            </div>
         </div>
      </div>
   </div>
</header>
{% include "footer.html" %}
{% endblock %}